.product {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--tg-theme-button-color);
  padding: 15px;
  width: 170px;
}


.img {
  width: 100%;
  background: lightgray;
  height: 100px;
  margin: 0 auto;
  /* background: var(--tg-theme-button-color); */
  object-fit: contain;
}

.description {
  font-size: 0.8em;
}

.add-btn {
  width: 100%;
  margin-top: 5px;
}

.add-btn span {
  font-size: 24px;
}
.add-btn.active{
  background-color: rgb(19, 201, 83);
}
